.chatInput {
    height: 7%;
    position: relative;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-family: 'Circe';
font-style: normal;
}

.chatInput__form {
    height: 100%;
}

.chatInput__input {
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 90%;
    border-radius: 0 0 0 10px;
    padding-left: 10px;
    font-weight: 400;
font-size: 20px;
line-height: 29px;
overflow: scroll;
}


.chatInput__input::placeholder {
font-weight: 300;
font-size: 18px;
}

.chatInput__submit-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25%;
    right: 15px;
    background-color: unset;
    padding: 0;
    border: 0;
    display: block;
    display: flex;
    transition: .2s linear;
}

.chatInput__submit-button_inactive {
    opacity: .5;
}

.chatInput__submit-image {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .chatInput__submit-button {
        width: 30px;
        height: 30px;
        
        top: 30%;
        right: 3px;
       
    }
    .chatInput__submit-image {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 750px) {
    .chatInput__input {
        width: 88%;
    }

}

@media (max-width: 405px) {
    .chatInput__input {
        width: 85%;
    }

}

@media (max-width: 340px) {
    .chatInput__input {
        width: 83%;
    }

}