.main {
    background: url('../../images/background.png');
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main__section {
    width: 700px;
    height: 95%;
    margin: auto auto;
    background-color: azure;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .main__section {
        width: 550px;
    }
}

@media (max-width: 750px) {
    .main__section {
        width: 450px;
    }
}

@media (max-width: 450px) {
    .main__section {
        width: 100%;
        margin: 0;
        height: 100%;
    }
}
