.popup {
    width: 40%;
    height: 200px;
    background-color: rgb(147, 188, 239);
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    font-family: 'Circe';
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 675px;
}

.popup__greeting {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.popup__caption {
    padding: 0 10px;
}

@media (max-width: 984px) {
    .popup {
        width: 390px;
    }
}

@media (max-width: 750px) {
    .popup {
        width: 300px;
    }

    .popup__greeting {
        font-size: 15px;
    }

    .popup__caption {
        font-size: 11px;
    }
}

@media (max-width: 405px) {
    .popup {
        top: 50%;
        width: 250px;
    }

    .popup__caption {
        padding: 0 10px;
    }
}