.message {
    display: flex;
    flex-direction: row;
    font-family: 'Circe';
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message__avatar-container {
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
}

.message__avatar-image {
    width: 55px;
    height: 55px;   
}

.message__text-container {
    padding-left: 20px;
    width: 80%;
    word-break: break-all;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    word-break: break-all;
}

.message__text-container_type_mine {
    background-color: #42A5F0;
    justify-content: flex-end;
    margin: 0 10px 0 auto;
    padding-right: 10px;
}

.message__text-container_type_notmine {
    background-color: #FFFFFF;
    justify-content: flex-start;
    padding-left: 10px;
    margin-left: 10px;
}

.message__text {
    font-weight: 400;
font-size: 20px;
line-height: 29px;
padding: 0;
margin: 0;
vertical-align: middle;
}



@media (max-width: 435px) {
    .message__text-container {
        max-width: 78%;
    }
}